
body{background-color:rgb(227, 242, 222) ;}

h1 { text-align: center; color: rgb(7, 7, 7);}

p {font-size: large;}

button {background-color: rgb(201, 225, 173); color: rgb(10, 88, 4);}

a:link {color: black;}
a:hover{color: rgb(35, 82, 6);}